* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #0F1B4C;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', serif;
    overflow-x: hidden;
}

body, html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1.8rem 1.6rem;
    min-width: 9.8rem;
    border-radius: 0.8rem;
    background: var(--primary-color); 
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

/* ====Header==== */

.content {
    width: 1110px;
    max-width: calc(100% - 48px);  
    margin-left: auto;
    margin-right: auto;
}

.hero-wrap {
    display: flex;
    position: relative;
    width: 100vw;
    align-items: center;
    height: calc(100vh - 9rem);
    background-color: #E6F0FF;;
}

.fixed-header {
    background: #E6F0FF;
    padding-top: 2.6rem;
    position: sticky;
    top: -2.6rem;
    z-index: 1;
}

.navbar {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 3.8rem; */
    padding: 1.3rem 0;
}

.navbar  ul {
    padding-top: 1.8rem;
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    position: relative;
    top: -15px;
    color: #4F5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.8rem 1.4rem;
    transition: color 0.3s ease;
}

.navbar img {
    margin-left: -40px;
    cursor: pointer;
}

.navbar ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.1px;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.navbar ul a:hover::after {
    transform: scaleX(1);
}

.actions {
    margin-left: auto;
}

.actions .sign-in {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.3s ease, filter 0.3s ease;
}

.actions .sign-in {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
    transition: color 0.5s ease,
                background-color 0.5s ease;
}
  
.actions .sign-in:hover {
    background-color: rgba(15, 27, 76, 0.1);
    color: var(--primary-color); 
}

.sign-up {
    padding: 1.3rem 1.6rem;
    margin-left: 1.8rem;
    transition: 
        color 0.3s ease, 
        background 0.3s ease, 
        filter 0.3s ease, 
        transform 0.3s ease;
}

.sign-up:hover {
    filter: drop-shadow(0 0 10px #a8a8a8);
    transform: scale(1.05);
}

.hero {
    margin-top: 13rem;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.018rem;
}

.hero .title {
    margin-top: 0.8rem;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.6rem; 
}

.hero .desc {
    margin-top: 3rem;
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.hero .cta {
    min-width: 17rem;
    height: 5rem;
    flex-shrink: 0;
    margin-top: 4rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.hero .cta:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    color: #000;
    background-color: #E6F0FF;
    border: 2px solid var(--primary-color);
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}


/* ====Clients==== */

.clients {
    margin-top: 7.9rem;
    padding: 4.3rem 0 2.3rem;
}
.clients img {
    cursor: pointer;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 2.3rem;
}

.clients .companies{
    display: flex;
    justify-content: space-between;
    margin-top: 10.27rem;
}

.clients .companies a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 1.2rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.clients .companies a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10);
    transform: translateY(-4px);
}


/* ====Guides==== */

.guides {
   margin-top: 4.1rem;
   padding: 9.3rem 0 0;
}

.guides .content {
    max-width: 68.5rem;
    height: 42.7rem;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem;
}

.guides .sub-title::before {
    content: "";
    display: inline-block;
    width: 4.1rem;
    height: 0.4rem;
    border-radius: 1.2rem;
    background: #000339;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    width: 45.9rem;
    max-width: 100%;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; 
    margin: 2rem auto 0;
}

.content .seller {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}

.seller .sell-guide img {
    margin-left: 4.5rem;
}

.seller .sell-guide .title {
    margin-top: 2.6rem;
    color: #3B3C45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.seller .sell-guide  a {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #0689FF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.seller .sell-guide a img {
    margin-left: 6px;
}

.content .sell-btn {
    position: relative;
    display: inline-flex;      
    align-items: center;    
    justify-content: center; 
    min-width: 17rem;
    height: 5rem;
    cursor: pointer;
    margin-top: 5rem;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 50%;
    transform: translate(-50%);
    border: none;
    border-radius: 8px;
    background-color: #0F1B4C;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
}

.content .sell-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #1A66FF; 
    z-index: -1;
    transition: left 0.4s ease;
}

.content .sell-btn:hover::before {
    left: 0;
}


/* ====Features==== */

.features {
    margin-top: 12rem;
    height: 76.7rem;
    margin-bottom: 7rem;
    background: #F5FAFE;
}

.features .sub-title {
    padding-top: 11rem;
}

.features .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
}

.features .row {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.features .row p {
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
}

.features .row a{
    color: #0689FF;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
}

.features .list {
    margin-top: 7rem;
    display: flex;
    gap: 3rem;
}

.features .item {
    background-color: #ffffff;
    flex: 1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.features .item {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.features .item:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

.item .thumb {
  width: 100%;
  height: auto;
  display: block;
}

.item .overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1.6rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  font-family: 'Poppins';
}

.item:hover .overlay {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


.features .item .thumb {
    width: 100%;
    height: 27.7rem;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.features .item .body {
    padding: 17px 20px 24px;
}

.features h3 {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
}

.features p {
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.1rem;
}

.features .info {
    display: flex;
    align-items: center;
    margin-top: 2.1rem;
}


.features .label {
    margin-left: 0.8rem;
    color: #444;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.014rem;
}

.features .item .info .icon {
   margin-left: 2.3rem;
}

.features .item .icon:first-child{
    margin-left: -5px;
}


/* Stat */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block, .stats .info {
    width: 50%;   
}

.stats .img-block {
    position: relative;
}

.stats-trend {
    position: absolute;
    top: 0; 
    left: 0;
    width: 239px;
    border-radius: 0 0 12px 12px;
    padding: 45px 22px 40px;
    background-color: #ffffff;
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.026rem;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats-trend .separate {
    background-color: #dadada;
    margin-top: 25px;
    width: 19.362rem;
    height: 0.12rem;
    flex-shrink: 0;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29;
}

.stats .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 2rem;
    width: 30.9rem;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.row-qty {
    margin-top: 11rem;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 6.4rem; 
}

.stats .qty-desc {
    margin-top: 2.2rem;
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
}


/* ====subscription==== */

.subscription {
    margin-top: 9rem;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 37rem;
    border-radius: 2rem;
    background: #063183;
}

.subscription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 8rem;
}
.subscription .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5rem; 
}

.subscription .desc {
    margin-top: 4rem;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 3rem;
    min-width: 15.1rem;
    height: 5rem;
    background-color: #FFF;
    border-radius: 1.2rem;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ====Footer==== */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row-top {
    display: flex;
    gap: 185px;
}

.footer .heading {
    color: #1C1C1D;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a, .footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    display: flex;
    margin-top: 4rem;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 3px;
}

.footer .social-link:not(:first-child) {
      margin-left: 1.6rem;
}

.footer .social-link:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8.1rem;
}

.copyright {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer .item a:hover {
    text-decoration: underline;
}